.form-container{ 
    /* width: 500px; */
    border-radius: 10px; 
    padding: 70px;
    border: 3px solid #5c4444;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.244);
}

.login-head{
    color: #5c4444;
    margin: 0;
    font-size: 30px;
}

.label{
    font-size: 22px;
}

.input{
    background-color: #c9b5b5;;
    color: #5c4444;
    font-size: 15px;
    border: none;
    padding: 10px;
    width: 300px;
}

.login-btn-container{
    display: flex;
    justify-content: space-between;
}
/* 
.form-input{
    margin: 20px auto;
}

.form-input input{
    width: 300px;
    margin-top: 5px;
    font-size: 17px;
    height: 30px;
     border-radius: 5px; */
    /*border: none; */
/* } */

.form-input {
    margin: 30px 0;
}

.login-btn{
    margin-left: 0;
    margin-top: 10px;
    /* width: 200px; */
    /* margin: 15px auto; */
    background-color: #5c4444;
    color: white;   
    padding: 8px 30px;
    border-radius: 10px;
    border: none;
    font-size: 16px; 
} 


.login-body{
    background: url(./red-bus.jpg);
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    /* position: relative; */
    height: 45vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
}

.create-account{
    color: #5c4444;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
}

@media screen and (max-width:600px){
   
.form-container {
  width: 92%;
  margin-top: 600px;
  padding: 10px;
}

.login-head{
    font-size: 30px;
}

.label{
    font-size: 25px;
}
}