.input-box{
    width: 400px;
    margin-left: 20px;
    border-radius: 5px;
    /* border: 2px solid #142e8d; */
    padding: 10px;
    
    
    }
    .background-color{
        background-color: rgb(238, 235, 235);
    }
    .review-btn{
        background-color: orangered;
        color: white;   
        padding: 10px 70px;
        /* width: 200px; */
        border-radius: 10px;
        border: none;
        font-size: 30px; 
        margin: 20px 30px;
        text-align: center;
    }
    .title-main{
        color: #142e8d;
    }
    
    .add-button{
        margin-top: -39px;
        padding: 8px 15px;
        background-color: orange;
        color: black;
        border: none;
        border-radius: 5px;
    
    }
    
    ::placeholder{
        color:#142e8d ;
    }
    
    .input-container{
        /* border: 1px solid #142e8d; */
        padding: 5px 0 50px 10px ;
        border-radius: 10px;
    }
    