.faq-main-container{
    background-color: rgb(250, 247, 247);

  
}
.question-main-heading{
    font-size:50px
}
.faq-heading{
    font-size: 50px;
  
    color:rgb(20, 46, 141);
}
.bg-color{
    background-color: rgb(244, 247, 247);
}
.card-faq{
    border: 1px solid black;
    margin: 50px auto;
    padding: 40px 70px;
    text-align: center;
    width: 800px;
    background-color: white;
}