.heading{
text-align: center;
color: orangered;
font-size: 30px;
}

.signup-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    /* margin: 20px auto; */
    background-color: #c9b5b5;
    height: 80vh;
}

.signup-container{
    display: flex;
    width: fit-content;
    height: 700px;
    background-color: white;
    padding: 5px 130px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.signpu-input-box{
    background-color: #c9b5b5;;
    color: #5c4444;
    font-size: 16px;
    border: none;
    padding: 10px 50px;
   
    position: relative;
   
}

.signpu-label{
    font-size: 25px;  
}


.form-main-container{
    /* margin-right: 40px; */
    width: 450px;
    /* border: 2px solid black; */
}

.signup-btn{
    background-color: orangered;
    color: white;   
    padding: 10px 100px;
    /* width: 200px; */
    border-radius: 10px;
    border: none;
    font-size: 30px; 
    /* margin: 20px 40px 20px 0; */
    text-align: center;
    margin-left: 90px;
    margin-top: 15px;
}

.login{
    color: orangered;
    font-weight: bold;
}

.button-container{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.again-login{
    font-size: 20px;
    text-decoration: none;
}

.gender{
    color: #5c4444;
    height: 15px;
    width: 15px;
}

.male-gender{
    font-size: 20px;
    color: #5c4444;
}

.female-gender{
    font-size: 20px;
    color: #5c4444;
}

.gender-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.male-container{
    display: flex;
    align-items: center;
}

.image-container img{
    width: 550px;
    position: relative;
    bottom: 0px;
    right: 40px;
}